body{
    background-image: url("https://image.shutterstock.com/image-photo/office-supplies-business-idea-concept-260nw-777770320.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    
}

         